.product-item {
    margin: 7px 10px 7px 0;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 10px;
}

.cat-item {
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color .3s, border .3s;
}

.cat-item:hover {
    background-color: rgba(0, 0, 0, .4);
}

.cat-item-unselected {
    border: rgba(0, 0, 0, .4) 1px solid;
}

.cat-item-selected {
    border: rgba(0, 0, 0, 1) 2px solid;
}

#page {
    border: 1px solid #000;
    padding: 5px;
    font-weight: 600;
    text-align: center;
}

.pagination-btn {
    width: 100%;
    text-align: center;
    height: 100%;
}