<div class="card" >
  <div class="card-body">
    <div class="row">
      <div class="col-9">
          <h4 class="card-title">Grocery store</h4>
      </div>
      <div class="col-3">
        {{ basketTotalPrice | number : '1.2' }}
        <a routerLink="/basket" routerLinkActive="active">
          <input type="button" value="basket" />
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="row">
          <div class="col-12">
            <strong>Filter by categories</strong>
          </div>
          <div class="col-12 cat-item"
              [ngClass]="showFilter(pc.key) ? 'cat-item-selected' : 'cat-item-unselected'"
              *ngFor="let pc of productService.categories | keyvalue" 
              (click)="cat_select($event, productService.categories[pc.key])">
            {{ productService.categories[pc.key] }}
          </div>
        </div>
        <ul>
        </ul>
      </div>
      <div class="col-1"></div>
      <div class="col-7">
          <!--<app-single-product 
            (delete)="deleteEvent($event)"
            class="col-md-3 product-item" 
            [product]="p" 
            *ngFor="let p of products">
          </app-single-product>-->
          <div class="row">
            <app-single-product 
              (add)="addEvent($event)"
              class="col-12 product-item" 
              [product]="p" 
              *ngFor="let p of products">
            </app-single-product>
          </div>
      </div>

      <div class="col-1"></div>
  </div>
</div>
