.item {
	border: 1px solid #000;
}

#logo {
	height: 200px;
}

#menu-wrapper {
}

#about {
	height: 600px;
}

#portfolio {
	height: 600px;
}

#services {
	height: 600px;
}

#footer {
	height: 200px;
}