.product-item {
    margin: 7px 10px 7px 0;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 10px;
}

.order-item-done {
    background-color: rgba(255, 0, 0, 0.1);
}

.order-item-waiting {

}

.hidden {
    display: none;
}