<div class="row">
  <div class="col-9">
    <h1>Register</h1>
  </div>
  <div class="col-3">
    <a routerLink="/login" routerLinkActive="active">
      <input type="button" value="login" />
    </a>
  </div>
  <div class="col-6">
    email
  </div>
  <div class="col-6">
    <input #emailfield (keyup)="update('email', emailfield.value)" />
  </div>
  <div class="col-6">
    password
  </div>
  <div class="col-6">
    <input #passwordfield type="password" (keyup)="update('password', passwordfield.value)" />
  </div>
  <div class="col-6">
    <input type="button" value="register" (click)="register()" />
  </div>
  
  <span id="alert">
    {{ msg }}
  </span>
</div>