<div>
  <div class="row">
    <div class="col-8">
      <div class="row">
        <div class="col-12">
          <h3>{{ product.name }}</h3>
        </div>
        <div class=" col-12">
          <input type="button" [value]="detailed ? 'less details' : 'more details'" (click)="change_detailed()" />
        </div>
        <div class="col-12" *ngIf="isDetailed()">
          <div class="row">
              <div class="col-6">
                <img [src]="product.img_url" class="product-image" />
              </div>
              <div class="col-6">
                <i>{{ product.description }}</i>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
        <div class="price">{{ product.price_for_one }} PLN</div>
        <input class="price" type="button" value="add to basket" (click)="add_current($event)" />
    </div>
  </div>
</div>
